/* You can add global styles to this file, and also import other style files */
.filterinput {
    padding-right: 5px !important;
    padding-left: 5px !important;
}
.filterinput:first-child {
    padding-left: 15px !important;
}

.btn-nav {
    padding: 4px 11px !important;
}

.btn-overflow {
    padding-left: 15px !important;
}

.info-box p{
    margin: 0;
}

.info-box {
    color: #e6e6e6;
}